# Import required Library

In [2]:
import pyodbc 
import os
import pandas as pd
from datetime import datetime
import re
import numpy as np
from fuzzywuzzy import fuzz #conda install -c conda-forge python-levenshtein
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-2SMC4D2\SQLEXPRESS;' #DESKTOP-2SMC4D2\SQLEXPRESS
                      'Database=ctxf;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

ModuleNotFoundError: No module named 'fuzzywuzzy'

# Link to Folder

In [4]:
second_folder = '//bosch.com/dfsrb/DfsVN/LOC/Hc/RBVH/C_TXF_C1/10_Project_Task/10 PEP Classification/10 Bot Assistance/PEP 2nd Classification/'
first_folder = '//bosch.com/dfsrb/DfsVN/LOC/Hc/RBVH/C_TXF_C1/10_Project_Task/10 PEP Classification/10 Bot Assistance/PEP Auto classify and QC/'
auto_folder ='//bosch.com/dfsrb/DfsVN/LOC/Hc/RBVH/C_TXF_C1/10_Project_Task/10 PEP Classification/10 Bot Assistance/PEP Auto classify no QC/'
auto_old ='C:/Microsoft SQL/PEP Auto classify and QC/'
#PEP_temp ='//bosch.com/dfsrb/DfsVN/LOC/Hc/RBVH/C_TXF_C1/10_Project_Task/10 PEP Classification/10 Bot Assistance/Excel template/PEP WEEK_.xlsx'
MO_TABLE_folder ='C:/Microsoft SQL/MO_TABLE_DATA/'
Missing_data = 'C:/Microsoft SQL/collect missing/'
PEP_temp ='PEP WEEK_SQL_STORE.xlsx'
MO_Table_usecol ='MO_Table_usecol.xlsx'

# Python Function

In [ ]:
# def get_list_file(root_folder):
    files = os.listdir(root_folder) # get list file in folder
    file_all=[] # Create an empty array
    file_pre = ['All','pac','Pow','Acc','oth','Aut','2nd','Unc','Har'] # only get files file nama start with
    for file in files:
        if (file[0:3] in file_pre) == True: # first 3 chars of file name present in file_pre list
            file_all.append(file) # add file name to array
    return file_all


def Create_template_Table(PEP_temp):
    df = pd.read_excel(PEP_temp, 'Sheet1')
    col_name =''
    for col in df.columns:
        if len(col)>2:
            col_name = col_name + '['  + str(col) +']' + ' NVARCHAR(MAX) ,'
    col_name = '(' + col_name[0:len(col_name)-1]+ ")"
    return col_name

def remove_termcode_tex(row):
    term_name = row['Classification is obsolte'].lower()
    delete_term_name = row['Matl Type'].lower().replace(term_name,'').replace(';','')
    return delete_term_name

def find_uni_termcode(df):
    save_nRange=[]
    save_term=[]
    save_keyword=[]
    save_ref=[]
    save_used_part=[]
    
    termcode = pd.unique(df['Term code'])
    for tc in termcode:
        part_list = df[df['Term code']==tc]
        total_part = part_list['Reference Number'].count()
        remove_d = pd.unique(part_list['Reference Number'])
        if len(remove_d)==1:            
            save_nRange.append('___')
            save_term.append(tc)
            save_keyword.append('___')
            save_ref.append(remove_d[0])
            save_used_part.append(total_part)
    result_uni_term = pd.DataFrame(data=list(zip(save_nRange,save_term,save_keyword,save_ref,save_used_part)),columns=['Number Range','Term code','Key Word','Reference Number','Number of Part Used'])        
    result_uni_term.to_csv('./save_result/result_uni_term.csv')        
    return result_uni_term
def find_uni_number_range(df):
    save_nRange=[]
    save_term=[]
    save_keyword=[]
    save_ref=[]
    save_used_part=[]
    
    nRange=pd.unique(df_out['Product Number'].str[0:4])
    for tc in nRange:
        part_list = df[df['Product Number'].str.startswith(tc)]
        total_part = part_list['Reference Number'].count()
        remove_d = pd.unique(part_list['Reference Number'])
        if len(remove_d)==1:
            save_nRange.append(tc)
            save_term.append('___')
            save_keyword.append('___')
            save_ref.append(remove_d[0])
            save_used_part.append(total_part)
    result_uni_range = pd.DataFrame(data=list(zip(save_nRange,save_term,save_keyword,save_ref,save_used_part)),columns=['Number Range','Term Code','Key Word','Reference Number','Number of Part Used'])        
    result_uni_range.to_csv('./save_result/result_uni_range.csv')          
    return result_uni_range
#get list of ref where combine of number range and term code are unique
def find_uni_number_range_termcode(df):
    save_nRange=[]
    save_term=[]
    save_keyword=[]
    save_ref=[]
    save_used_part=[]
    join_nRangeAndtermcode = df['Product Number'].str[0:4] + df['Term code']
    nRange_termcode=pd.unique(join_nRangeAndtermcode)
    for tc in nRange_termcode:
        part_list = df[join_nRangeAndtermcode==tc]
        total_part = part_list['Reference Number'].count()
        remove_d = pd.unique(part_list['Reference Number'])
        if len(remove_d)==1:            
            save_nRange.append(tc[0:4])
            save_term.append(tc[4:])
            save_keyword.append('___')
            save_ref.append(remove_d[0])
            save_used_part.append(total_part)
    result_Rang_Term = pd.DataFrame(data=list(zip(save_nRange,save_term,save_keyword,save_ref,save_used_part)),columns=['Number Range','Term code','Key Word','Reference Number','Number of Part Used'])        
    result_Rang_Term.to_csv('./save_result/result_Rang_Term.csv')          
    return result_Rang_Term
# using in function classify 1 part by number range term code and key words
#Calculate matching ratio betweeen this part and all part in database,
#lamdm function will add to a new columns for filter later
def add_match_point(part_des,row): 
    match_point = fuzz.token_sort_ratio(part_des,row['Matl Type']) # calculate matching ratio
    return match_point

# SQL Function

In [ ]:
def find_product_group(keyword):
    sql = "SELECT * FROM ctxf.dbo.hscodedata where [PRODUCT GROUP] like '%" + str(keyword)+ "%'"
    df_out = pd.read_sql(sql, conn)
    return df_out

def get_col_name(qsl_table):
    sql = "SELECT * FROM ctxf.dbo." + qsl_table + " where [Term code] like '%" + 'NOTWORD'+ "%'"
    df = pd.read_sql(sql, conn)
    col_name ='' 
    Value = ''
    for col in df.columns:
        if len(col)>2:
            col_name = col_name + '[' + str(col) +'],'
            Value = Value + "?,"
    Value = '(' + Value[0:len(Value)-1]+ ")"
    col_name = '(' + col_name[0:len(col_name)-1]+ ")"
    return col_name,Value ,df.columns.values
def write_to_sql(df,col_name,Value,table_name):
    sql = "INSERT INTO ctxf.dbo." + table_name + " " +  col_name  + ' Values ' + Value 
    val = tuple(df.values)
    array_of_tuples = map(tuple, val)
    tuple_of_tuples = tuple(array_of_tuples)
    val = tuple_of_tuples
    cursor.executemany(sql,val)
    conn.commit()
    return

def write_to_sql_list_file(filename,status,comment):
    now = datetime.now()
    sql = "INSERT INTO ctxf.dbo.Listfileadd (File_Name,Add_To_SQL_Status,Add_Date,Comment) Values(?,?,?,?)"
    val = (filename,status,str(now),comment)
    cursor.execute(sql,val)
    conn.commit()
    return

def remove_duplicate_pn():
    sql_remove_duplicate = '''WITH cte AS (
                                SELECT 
                                    [Product Number], 

                                    ROW_NUMBER() OVER (
                                        PARTITION BY 
                                            [Product Number] 
                                        ORDER BY 
                                            [Product Number] 
                                    ) row_num
                                 FROM [ctxf].[dbo].[PEP_file_all]
                            )
                            DELETE FROM cte
                            WHERE row_num > 1'''
    cursor.execute(sql_remove_duplicate)
    conn.commit()
    return
def remove_duplicate_rule():
    sql_remove_duplicate = '''WITH cte AS (
                                            SELECT 
                                               [Number Range]
                                              ,[Term code]
                                              ,[Key Word]
                                              ,[Reference Number]
                                              ,[Number of Part Used], 

                                                ROW_NUMBER() OVER (
                                                    PARTITION BY 
                                                        [Number Range],
                                                        [Term code],
                                                        [Key Word],
                                                        [Reference Number]
                                                    ORDER BY 
                                                        [Number Range],
                                                        [Term code],
                                                        [Key Word],
                                                        [Reference Number]
                                                ) row_num
                                             FROM [ctxf].[dbo].[RULEBASE]
                                        )
                                        DELETE FROM cte
                                        WHERE row_num > 1;'''
    cursor.execute(sql_remove_duplicate)
    conn.commit()
    return
def Delete_all_data_in_table(table_name):
    sql = 'TRUNCATE TABLE [ctxf].[dbo].[' + table_name + '];'  
    cursor.execute(sql)
    conn.commit()
    return
def Load_all_File_SQL(Folder_name,SQL_table):
    col_name,Value,use_col = get_col_name(SQL_table)
    File_save_ok = []
    File_save_Not_ok = []
    for file in get_list_file(Folder_name):
        try:
            df=pd.read_excel(Folder_name + file, 'Sheet1',usecols=use_col)
            df=df[use_col] # re-order columns to align with SQL data base
            df=df.fillna(int(0))
            if df['Product Number'].count()>0:
                write_to_sql(df,col_name,Value,SQL_table)
                write_to_sql_list_file(file,'OK','good')
                File_save_ok.append(file)
            else:
                write_to_sql_list_file(file,'NG','Error')
                File_save_Not_ok.append(file)
        except:
            File_save_Not_ok.append(file)
            
    return

### Step to upload PEP file:
    1. copy pep file into folder: current prefilter file name: file_pre = ['All','pac','Pow','Acc','oth','Aut','2nd','Unc','Har'] # only get files file nama start with
    2. upload all files in folder to SQL ly sub function: Load_all_File_SQL(first_folder,"PEP_file_all")
    3. Remove duplicate part number by function: remove_duplicate_pn()

Step to Load MO_Table data to SQL
    1. Load MO table file from P94 to folder: 'C:/Microsoft SQL/MO_TABLE_DATA/'
    2. Load file to SQL table by function Load_all_File_SQL(MO_TABLE_folder,'MO_TABLE_DATA')
    3. Remove duplicate pn from MO_TABLE
    4. Run Query job to Merge all data from PEP_file_all to MO_TABLE_DATA
    5. Run Query below to get list of part missing term code and description
            sql = "SELECT * FROM ctxf.dbo.MO_TABLE_DATA where [Term code] = ''" 
            df_out = pd.read_sql(sql, conn)
            df_out.to_excel('C:/Microsoft SQL/collect missing/missing.xlsx', sheet_name='Sheet1')
    6. Get missing data from Tango PDM report and merge term code, part desription to miss data file
    7 Load missing data to PEP_File_all and merge data to MO_DATA_TABLE again
            Load_all_File_SQL(Missing_data,'PEP_file_all')
            remove_duplicate_pn()
    8. Try step 6 to ensure all missing data is updated and delete rows where termcode is missing

# load missing data
Load_all_File_SQL(Missing_data,'PEP_file_all')
remove_duplicate_pn()

# Some SQL commands:
sql_create_table = "CREATE TABLE TERMCODE" + Create_template_Table('C:/Microsoft SQL/Bosch_Termcode.xlsx')
cursor.execute(sql_create_table)
conn.commit()
#sql = "SELECT * FROM ctxf.dbo.PEP_file_all"
#df_out = pd.read_sql(sql, conn)

-----------------------------
sql = "SELECT * FROM ctxf.dbo.MO_TABLE_DATA where [Matl Type] = '%" + str(keyword)+ "%'" search if contain keyword

In [25]:
sql_create_table = "CREATE TABLE MO_TABLE_ClASSIFIED" + Create_template_Table('C:/Microsoft SQL/MO_Table_usecol.xlsx')
cursor.execute(sql_create_table)
conn.commit()

Load_all_File_SQL(MO_TABLE_folder,'MO_TABLE_DATA')
#Remove_duplicate_
#Merge Termcode from pep file
merge product group name
merge term code name
remove term code name in description column

sql_create_table = "CREATE TABLE RULEBASE" + Create_template_Table('C:/Microsoft SQL/Rule base template.xlsx') 
cursor.execute(sql_create_table) 
conn.commit()

# Load data from SQL to Pandas dataframe

In [60]:
sql = "SELECT * FROM ctxf.dbo.MO_TABLE_DATA where [Term code] != ''" # '%" + str(keyword)+ "%'"
df_out = pd.read_sql(sql, conn)
#df_out['Matl Type1'] = df_out.apply(lambda row: remove_termcode_tex(row), axis=1) # already removed in SQL
#df_out['Matl Type'] = df_out['Matl Type1']
#df_out.drop(columns=['Matl Type1'],inplace=True)
#Load rule list
sql = "SELECT * FROM ctxf.dbo.[RULE ABC] where [Reference Number] != '' and [Number of Part Used]>9 " # '%" + str(keyword)+ "%'"
Rule_list = pd.read_sql(sql, conn)
Rule_list['Number of Part Used'] = Rule_list['Number of Part Used'].astype(int)
Rule_list.sort_values(by='Number of Part Used', ascending=False, inplace=True)

df_out.count()[0]

209933

In [11]:
Rule_list.count()[0] # number of list rule which only term code and number range

1362

# Create Rulebase list contain Term code and Number Range
    1. get list of rule and stored to SQP
    2. change the below line from Markdown to code to run the code one you need to update rules base

start=datetime.now()
result_uni_term = find_uni_termcode(df_out)
result_uni_range =find_uni_number_range(df_out)
result_Rang_Term = find_uni_number_range_termcode(df_out)
####Write to SQL table
Delete_all_data_in_table('RULEBASE') # clear old rule in SQL
col_name,Value,use_col = get_col_name('RULEBASE')
write_to_sql(result_uni_term,col_name,Value,'RULE ABC')
write_to_sql(result_uni_range,col_name,Value,'RULE ABC')
write_to_sql(result_Rang_Term,col_name,Value,'RULE ABC')
remove_duplicate_rule()
run_time = datetime.now()-start
run_time

# Classify by Term code and Number Range only

In [12]:
def classify_by_term(row):
    classify_by_term = Rule_list[Rule_list['Term code']==row['Term code']]
    classify_by_range = Rule_list[Rule_list['Number Range']==row['Product Number'][0:4]]
    classify_by_term_range = Rule_list[(Rule_list['Number Range'].str.startswith(row['Product Number'][0:4])) & (Rule_list['Term code'].str.startswith(row['Term code']))]
    if classify_by_term_range['Reference Number'].count()==1:  
        part_ref = classify_by_term_range.iloc[0]['Reference Number']#.values ['Reference Number']
        Total_used = classify_by_term_range.iloc[0]['Number of Part Used']    
        rule_name = 'C'
    elif classify_by_term['Reference Number'].count()==1:
        part_ref = classify_by_term.iloc[0]['Reference Number']#.values ['Reference Number']
        Total_used = classify_by_term.iloc[0]['Number of Part Used']
        rule_name = 'B'
    elif classify_by_range['Reference Number'].count()==1:
        part_ref = classify_by_range.iloc[0]['Reference Number']#.values ['Reference Number']
        Total_used = classify_by_range.iloc[0]['Number of Part Used']
        rule_name = 'A'
    else:
        part_ref=''
        Total_used=0
        rule_name=''
    return part_ref,Total_used,rule_name

# Classify all MO TABLE to filter list of part need to run rule term code range and key words

In [13]:
start=datetime.now()
df_out['Rule Name'] =''

for index, row in df_out.iterrows():
    ref,used,rule_name = classify_by_term(row)
    df_out.at[index,'Material group']=used
    df_out.at[index,'Classification reclassified']=ref
    df_out.at[index,'Rule Name']=rule_name
run_time = datetime.now()-start
df_out.to_csv('df_out.csv',index=False)
run_time

datetime.timedelta(seconds=1053, microseconds=750412)

In [27]:
.astype(str)

0         144
1          38
2           0
3           0
4          38
         ...
209928      0
209929      0
209930      0
209931      0
209932      0
Name: Material group, Length: 209933, dtype: object

In [30]:
Delete_all_data_in_table('MO_TABLE_UNCLASSIFY') # clear old rule in SQL
col_name,Value,use_col = get_col_name('MO_TABLE_UNCLASSIFY')
write_to_sql(df_out[df_out['Rule Name']==''].astype(str),col_name,Value,'MO_TABLE_UNCLASSIFY')

In [18]:
df_out

,Logical System Group,Product Number,Matl Type,Material group,Term code,Number,Hardness grade,Timestamp Hardness grade,Classification is obsolte,Classification reclassified,Reference Number,Reference Group,Rule Name
0,Y_UBK,0241B5481607,zuendkerze,144,102709,85111020,500ROBOT,20191213082640,Spark Plug,0241B6532702,0241B6532702,0,C
1,Y_UBK,89055037452YV,zd szmmbz27vclt1 ons,38,107778,85411000,500ROBOT,20190306081707,Zener Diode,8909006679,8909006679,0,C
2,Y_UBK,127712624223W,zd szc490-33wp p,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,,8909006679,0,
3,Y_UBK,127712525523W,chip a.w. zd-chipszc490-09w,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,,8909006679,0,
4,Y_UBK,8905422068,zd szbzx84c18et1g *,38,107778,85411000,500ROBOT,20190426080909,Zener Diode,8909006679,8909006679,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209928,Y_UBK,Y462U0323800,"86-polig, undicht, ne",0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,,1271032577,0,
209929,Y_UBK,Y462U0324420,154(94/60)waywithout,0,128805,85366992,990YHG2HC,20190429080818,Plug-in connector,,1928404221,0,
209930,Y_UBK,Y462U0325801,12-waycod. b 24 v,0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,,1271032577,0,
209931,Y_UBK,Y462U2000001,"edc17c19-1.90 general,",0,106275,85444299,990LGO1HC,20190408110630,Wiring Harness,,0280620583,0,
209932,Y_UBK,Y58077028416,,0,103799,84133030,990NYQ81HC,20190715050745,Electric Fuel Pump,,05801010010AH,0,

In [29]:
df_out[df_out['Rule Name']=='']

,Logical System Group,Product Number,Matl Type,Material group,Term code,Number,Hardness grade,Timestamp Hardness grade,Classification is obsolte,Classification reclassified,Reference Number,Reference Group,Rule Name
2,Y_UBK,127712624223W,zd szc490-33wp p,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,,8909006679,0,
3,Y_UBK,127712525523W,chip a.w. zd-chipszc490-09w,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,,8909006679,0,
8,Y_UBK,8737704919,pb-free30v #65ºc to +150º,0,107778,85411000,500ROBOT,20190425061459,Zener Diode,,8909006679,0,
9,Y_UBK,8737708247,pb-free zener volt. regula,0,107778,85411000,500ROBOT,20190425061500,Zener Diode,,8909006679,0,
10,Y_UBK,8737708781,pb-free z-diode 10v 500mw,0,107778,85411000,500ROBOT,20190425061500,Zener Diode,,8909006679,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209928,Y_UBK,Y462U0323800,"86-polig, undicht, ne",0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,,1271032577,0,
209929,Y_UBK,Y462U0324420,154(94/60)waywithout,0,128805,85366992,990YHG2HC,20190429080818,Plug-in connector,,1928404221,0,
209930,Y_UBK,Y462U0325801,12-waycod. b 24 v,0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,,1271032577,0,
209931,Y_UBK,Y462U2000001,"edc17c19-1.90 general,",0,106275,85444299,990LGO1HC,20190408110630,Wiring Harness,,0280620583,0,
209932,Y_UBK,Y58077028416,,0,103799,84133030,990NYQ81HC,20190715050745,Electric Fuel Pump,,05801010010AH,0,

In [6]:
#df_out[df_out['Classification reclassified']==df_out['Reference Number']]

# Get Dataframe where not able to classify by term code and number range only

In [31]:
df_out_read=pd.read_csv('df_out.csv',dtype=str)
df_out_read.fillna('0',inplace=True)

In [32]:
df_out_read

,Logical System Group,Product Number,Matl Type,Material group,Term code,Number,Hardness grade,Timestamp Hardness grade,Classification is obsolte,Classification reclassified,Reference Number,Reference Group,Rule Name
0,Y_UBK,0241B5481607,zuendkerze,144,102709,85111020,500ROBOT,20191213082640,Spark Plug,0241B6532702,0241B6532702,0,C
1,Y_UBK,89055037452YV,zd szmmbz27vclt1 ons,38,107778,85411000,500ROBOT,20190306081707,Zener Diode,8909006679,8909006679,0,C
2,Y_UBK,127712624223W,zd szc490-33wp p,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,0,8909006679,0,0
3,Y_UBK,127712525523W,chip a.w. zd-chipszc490-09w,0,107778,85411000,500LYB1HC,20181010074503,Zener Diode,0,8909006679,0,0
4,Y_UBK,8905422068,zd szbzx84c18et1g *,38,107778,85411000,500ROBOT,20190426080909,Zener Diode,8909006679,8909006679,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209928,Y_UBK,Y462U0323800,"86-polig, undicht, ne",0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,0,1271032577,0,0
209929,Y_UBK,Y462U0324420,154(94/60)waywithout,0,128805,85366992,990YHG2HC,20190429080818,Plug-in connector,0,1928404221,0,0
209930,Y_UBK,Y462U0325801,12-waycod. b 24 v,0,128805,85366992,990VVO1HC,20190408024816,Plug-in connector,0,1271032577,0,0
209931,Y_UBK,Y462U2000001,"edc17c19-1.90 general,",0,106275,85444299,990LGO1HC,20190408110630,Wiring Harness,0,0280620583,0,0
209932,Y_UBK,Y58077028416,0,0,103799,84133030,990NYQ81HC,20190715050745,Electric Fuel Pump,0,05801010010AH,0,0

In [33]:

df_with_des = df_out_read[(df_out_read['Classification reclassified'] == '0') & (df_out_read['Matl Type'] !='')].copy() # get part list not classify yet
df_with_des.count()[0]

113825

# Classify 1 part by term code number range and description

In [34]:
def get_ref_from_possible(df_posible):

    #if there are more than 1 posbible
    if len(df_posible.index) >1: 
        #2nd posible have less them 30% total part used
        if (df_posible.iloc[1:2,0:1].values[0][0]/df_posible.iloc[0:1,0:1].values[0][0])<=0.3: 
            ref= df_posible.index[0]
            number_used = df_posible.iloc[0:1,0:1].values[0][0]
            rule_name ="D"
        else:
            ref= 'Conflicted'
            number_used = 0
            rule_name =""
        #if only 1 possible
    elif len(df_posible.index==1):
            ref= df_posible.index[0]
            number_used = df_posible.iloc[0:1,0:1].values[0][0]
            rule_name ="D"
        #if no posbile
    else:
        ref= 'No rule found'
        number_used = 0 
        rule_name =""
    return ref,number_used,rule_name      

def classify_1_part_by_nr_tc_kw(partnumber,part_des,termcode):
    global df_with_des
    #df1 = df[df['Product Number'] == partnumber]
    #termcode = df1['Term code'].values[0]
    #part_des = df1['Matl Type'].values[0]
    nRange = partnumber[0:4]
    df_matched=df_with_des[(df_with_des['Term code'] == termcode) & (df_with_des['Product Number'].str[0:4] == nRange)].copy()
    if df_matched.count()[0]>0:
        # add col fuzzy matched poit
        df_matched['match point'] = df_matched.apply(lambda row: add_match_point(part_des,row), axis=1) 
        df_matched.sort_values(by='match point', ascending=False,inplace=True) # sort by match point column
        df_filtered_match_point = df_matched[df_matched['match point']>=70] # threshold value of match point will pickup

        # get list of ref parts are posible for this case
        df_posible = df_filtered_match_point.groupby('Reference Number').count().sort_values(by='Logical System Group', ascending=False)
        result = get_ref_from_possible(df_posible)
    else:
        result='',0,''
    return result

# Classify 1 part

In [35]:
start=datetime.now()
ref,nused,rulesname = classify_1_part_by_nr_tc_kw('F016F03263UUU','Protective Shield','147583')
run_time = datetime.now()-start
run_time

datetime.timedelta(microseconds=123493)

In [36]:
ref

''

In [ ]:
Product Number                         F016F03263UUU
Product Short Text    Protective Shield;SCHUTZSCHILD
Term code                                     147583
ref                                                 
used                                               0
rule_name                                           
Name: 562, dtype: object

# Control number of line will run

In [43]:
df_with_des1 = df_with_des.iloc[1000:2000,:].copy()
'Estimate done time: ' + str(int(df_with_des.count()[0]/ 60)) + " Mins"

'Estimate done time: 1897 Mins'

# Classify All MO Table

In [54]:
start=datetime.now()
#df['classify ref'] = df.apply(lambda row: classify_1_part_by_nr_tc_kw(row['Product Number'],row['Matl Type'],row['Term code'])[0], axis=1)
for index, row in df_with_des.iloc[:,:].iterrows():
    ref,used,rule_name = classify_1_part_by_nr_tc_kw(row['Product Number'],row['Matl Type'],row['Term code'])
    df_with_des.at[index,'Material group']=used
    df_with_des.at[index,'Classification reclassified']=ref
    df_with_des.at[index,'Rule Name']=rule_name

run_time = datetime.now()-start
run_time

datetime.timedelta(seconds=10529, microseconds=759232)

# Add wrong part to exception list

In [56]:
df_with_des.to_csv('df_with_des.csv',index=False)

In [58]:
Delete_all_data_in_table('MO_TABLE_UNCLASSIFY') # clear old rule in SQL
col_name,Value,use_col = get_col_name('MO_TABLE_UNCLASSIFY')
write_to_sql(df_with_des.astype(str),col_name,Value,'MO_TABLE_UNCLASSIFY')

In [53]:
df_with_des[df_with_des['Rule Name']=='Conflicted']

Empty DataFrame
Columns: [Logical System Group, Product Number, Matl Type, Material group, Term code, Number, Hardness grade, Timestamp Hardness grade, Classification is obsolte, Classification reclassified, Reference Number, Reference Group, Rule Name]
Index: []

In [ ]:
wrong_list = df[(df['classify ref']!=df['Reference Number'])|(df['classify ref']=='Conflicted')]

In [ ]:
wrong_list.to_excel('wrong_list.xlsx', sheet_name='Sheet1')

In [ ]:
not_able_to_classify = df[(df['classify ref']!=df['Reference Number']) & (df['classify ref']=='Conflicted')]

In [ ]:
not_able_to_classify.to_excel('not_able_to_classify.xlsx', sheet_name='Sheet1')

In [ ]:
wrong_list

In [ ]:
df.to_excel('Total classify.xlsx', sheet_name='Sheet1')

In [ ]:
classified = df[df['Reference Group']!=df['classify ref']]

In [ ]:
classified.to_csv('missmatch.csv',index=False)

In [ ]:
classified.to_excel('Mismatch.xlsx', sheet_name='Sheet1')

# Classify PEP file

In [47]:
import openpyxl
from openpyxl import Workbook
from tkinter import Tk
from tkinter.filedialog import askopenfilename
Tk().withdraw()

''

In [45]:
filename = askopenfilename() # show an "Open" dialog box and return the path to the selected file
print(filename)

C:/Microsoft SQL/Test file/test file 1.XLSX

In [48]:

Classify_file = openpyxl.load_workbook(filename)

In [51]:
import win32com
import win32com.client
xl = win32com.client.Dispatch("Excel.application")

In [53]:
Classify_file = xl.Workbooks.Open(filename)

In [124]:
use_col ={'Product Number', 'Term code' , 'Product Short Text'}
Classify_file=pd.read_excel(filename, 'Sheet1',usecols=use_col,dtype=str)
#Classify_file=df.fillna(int(0))

In [125]:
type(Classify_file['Term code'][0])

str

In [186]:
#Classify_file['Auto_term_Nrange']
for index,row in Classify_file.iterrows():    
    ref,used,rule_name = classify_by_term(row)
    Classify_file.at[index,'ref'] = ref
    Classify_file.at[index,'used'] = int(used)
    Classify_file.at[index,'rule_name'] = rule_name

In [187]:
Classify_file.sort_values(by='used', ascending=False,inplace=True)

In [188]:
Classify_file

,Product Number,Product Short Text,Term code,ref,used,rule_name
23,0258010541,Oxygen Sensor; LSF 4.2,147109,0258030190,802.0,C
121,09860460079H0,Alternator,100781,012046957903DPS,472.0,C
383,4532013397,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
377,4532012214,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
416,4532015439,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
...,...,...,...,...,...,...
301,2608606869UUU,Slip-Ring,106976,,0.0,
725,KS00003661714,hydraulic steering gear,328090,,0.0,
726,KS00910011F4U,Power Steering Oil,337870,,0.0,
727,R917002813850,Control Unit,106364,,0.0,
741,SP04517870BFR,Socket,284513,,0.0,

In [189]:
#Classify_file['Auto_term_Nrange']
for index,row in Classify_file.iterrows():
    if row['ref']=='':
        ref,used,rule_name = classify_1_part_by_nr_tc_kw(row['Product Number'],row['Product Short Text'],row['Term code'])
        Classify_file.at[index,'ref']=ref
        Classify_file.at[index,'used']=used
        Classify_file.at[index,'rule_name']=rule_name

In [166]:
row

Product Number                         F016F03263UUU
Product Short Text    Protective Shield;SCHUTZSCHILD
Term code                                     147583
ref
used                                               0
rule_name
Name: 562, dtype: object

In [191]:
Classify_file[Classify_file['ref']!='']

,Product Number,Product Short Text,Term code,ref,used,rule_name
23,0258010541,Oxygen Sensor; LSF 4.2,147109,0258030190,802.0,C
121,09860460079H0,Alternator,100781,012046957903DPS,472.0,C
383,4532013397,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
377,4532012214,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
416,4532015439,Rack+Pinion El. Steering,330205,KS00000799000,465.0,C
...,...,...,...,...,...,...
89,044220293420,Cover; w_Tape_B2-Sample,119466,No rule found,0.0,
92,0444D033D200,Pump module; 5.3 RSP CP komplett,272868,04440420823GG,3.0,D
94,0445B9106500,GWM 4D24 CN6,189928,No rule found,0.0,
720,H103N54350,PLATE,196193,F01G10A382,10.0,D
727,R917002813850,Control Unit,106364,R917010086,6.0,D

In [29]:
df1=pd.read_csv('df_out.csv',dtype=str,na_filter=True)
df1.fillna('',inplace=True)
df1 = df1[df1['Rule Name']!='']

In [30]:
df1

,Logical System Group,Product Number,Matl Type,Material group,Term code,Number,Hardness grade,Timestamp Hardness grade,Classification is obsolte,Classification reclassified,Reference Number,Reference Group,Rule Name
0,Y_UBK,0241B5481607,zuendkerze,144,102709,85111020,500ROBOT,20191213082640,0,0241B6532702,0241B6532702,0,C
1,Y_UBK,89055037452YV,zener diodezd szmmbz27vclt1 ons,38,107778,85411000,500ROBOT,20190306081707,0,8909006679,8909006679,0,C
4,Y_UBK,8905422068,zener diode zd szbzx84c18et1g *,38,107778,85411000,500ROBOT,20190426080909,0,8909006679,8909006679,0,C
5,Y_UBK,1267375266,zener diode zd bzx84-c18/dg/b3 / szbzx8,32,107778,85411000,500ROBOT,20190426080909,0,8909006679,8909006679,0,C
6,Y_UBK,8905422810,zener diode zd bzx84-b33/dg/b2 sot23,38,107778,85411000,400EQH1HC,20190906043652,0,8909006679,8909006679,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209846,Y_UBK,Y44512660800,pulse sample,19,293695,84099949,990MTE1HC,20190529082101,0,0445C7414Y00,0445C7414Y00,0,B
209862,Y_UBK,Y44512927300,pulse-sample,19,293695,84099949,990MTE1HC,20190529082101,0,0445C7414Y00,0445C7414Y00,0,B
209863,Y_UBK,Y44512929300,pulse-sample,19,293695,84099949,990MTE1HC,20190529082101,0,0445C7414Y00,0445C7414Y00,0,B
209864,Y_UBK,Y44512929500,pulse-sample,19,293695,84099949,990MTE1HC,20190529082102,0,0445C7414Y00,0445C7414Y00,0,B
209867,Y_UBK,Y44512931200,pulse-sample,19,293695,84099949,990MTE1HC,20190529082102,0,0445C7414Y00,0445C7414Y00,0,B

In [33]:
df2=pd.read_csv('df_with_des.csv',dtype=str,na_filter=True)
df2.fillna('',inplace=True)
#df2 = df2[df2['Rule Name']!='']

In [34]:
df2

,Logical System Group,Product Number,Matl Type,Material group,Term code,Number,Hardness grade,Timestamp Hardness grade,Classification is obsolte,Classification reclassified,Reference Number,Reference Group,Rule Name
0,Y_UBK,127712624223W,zener diodezd szc49-33wp p,0,107778,85411000,500LYB1HC,20181010074503,0,,8909006679,0,
1,Y_UBK,127712525523W,zener diodechip a.w. zd-chipszc49-9w,0,107778,85411000,500LYB1HC,20181010074503,0,,8909006679,0,
2,Y_UBK,8737704919,zener diode pb-free3v #65ºc to +15º,0,107778,85411000,500ROBOT,20190425061459,0,,8909006679,0,
3,Y_UBK,8737708247,zener diode pb-free zener volt. regula,0,107778,85411000,500ROBOT,20190425061500,0,,8909006679,0,
4,Y_UBK,8737708781,zener diode pb-free z-diode 1v 5mw,0,107778,85411000,500ROBOT,20190425061500,0,,8909006679,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112959,Y_UBK,Y462U0323800,"plug-in connector 86-polig, undicht, ne",0,128805,85366992,990VVO1HC,20190408024816,0,,1271032577,0,
112960,Y_UBK,Y462U0324420,plug-in connector 154(94/6)waywithout,0,128805,85366992,990YHG2HC,20190429080818,0,,1928404221,0,
112961,Y_UBK,Y462U0325801,plug-in connector 12-waycod. b 24 v,0,128805,85366992,990VVO1HC,20190408024816,0,,1271032577,0,
112962,Y_UBK,Y462U2000001,"wiring harness edc17c19-1.9 general,",0,106275,85444299,990LGO1HC,20190408110630,0,,0280620583,0,
112963,Y_UBK,Y58077028416,electric fuel pump,0,103799,84133030,990NYQ81HC,20190715050745,0,,05801010010AH,0,

In [22]:
sql = "SELECT * FROM ctxf.dbo.PEP_file_all " # '%" + str(keyword)+ "%'"
pepall = pd.read_sql(sql, conn)

In [23]:
pepall.to_excel('pepall.xlsx', sheet_name='Sheet1')